
/* TABS */
.tabs {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.tab {
    font-weight: 500;
    cursor: pointer;
    color: #9ca3af;
    transition: 0.2s;
}

.tab.active {
    color: white;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 4px;
}